body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #8a2be2, #6a5acd, #9370db);
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.otp-box {
  background: white;
  border-radius: 20px;
  padding: 40px 50px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  width: 350px;
}

.icon {
  font-size: 50px;
  color: #6a5acd;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 5px;
  color: #333;
}

p {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

p span {
  color: #6a5acd;
  font-weight: 600;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.otp-inputs input {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  transition: 0.3s;
}

.otp-inputs input:focus {
  border-color: #6a5acd;
  outline: none;
  box-shadow: 0 0 5px rgba(106,90,205,0.5);
}

button {
  width: 100%;
  background: #6a5acd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #7b68ee;
}
